NODE_ENV=production
PORT=4000
JWT_SECRET=change_this
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/scaterx
REDIS_URL=redis://localhost:6379
FIREBASE_PROJECT_ID=scaterx-prod
XENDIT_API_KEY=replace
PAYMONGO_SECRET_KEY=replace
DRAGONPAY_SECRET=replace
WALLETCONNECT_PROJECT_ID=replace
